.h1 {
  color:#dad1a9
}

.h2 {
  color:antiquewhite;
  size: 10vim;
}

.App {
  text-align: center;
}

.App-logo {
  height: 38vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #19141f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-link {
  color: #7c44e4;
}

.first-words {
  color:#f3e9b2;
  opacity: 80%;
  font-family:Cambria;
}

@keyframes App-logo-spin {
  from {
    transform: scale(160%);
  }
  to {
    transform:scale(30%)
  }
}
