@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Quicksand'
}

.boxtools{
  height:20vh;
  width:100%;
  display: block;
  align-items: center;
  animation: Scroll 20s linear infinite;
}
.toolist{
  white-space: nowrap;
  width:auto;
  max-width: fit-content;
  font-size: 100px;
}

@keyframes Scroll {
  0% {
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.MuiContainer-root {
  width: 100%;
  margin-left: 2px;
}

.MuiTypography-body1 {
  font-size: 1.2rem; /* adjust as needed */
  font-family: cursive;
}
